/*
   Inspecting HTML And CSS
   
   In the Elements pane, you can see the entire HTML structure of your page. You can click on any of the elements in this pane to select that specific element. 
   Alternatively, you can click the blue-highlighted icon shown below on the left, and hover over any element on the page.

   When an element is selected, the Styles tab will show all the currently applied styles, as well as any styles that are being overwritten 
   (indicated by a strikethrough of the text). For example, if you use the inspector to click on the “Your Career in Web Development Starts Here” 
   header on the TOP homepage, on the right-hand side you’ll see all the styles that are currently affecting the element

   The Styles pane also allows you to edit styles directly in the browser. You can click inside of any individual selector to add a new rule or click on an existing attribute or value to alter it.
   In the below image, we have altered the value of margin-bottom in the .hero__main-heading class, and the webpage responds with the changes in real-time. This won’t affect the source code in your 
   text editor, but it is extremely useful for quickly testing out various attributes and values without needing to reload the page over and over again.
*/

   
